.form-edit {
    /* align-self: center; */
    width: 70%;
    padding: 16px;
    background-color: transparent;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
    flex-wrap: wrap;
}


.form-create {
    padding: 32px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
    align-items: center;
}

.form-create > * {
    flex: 0 1 48%;
}

@media screen and (max-width: 440px) {
    .form-edit {
        width: 100%;
    }
    .form-create {
        flex-direction: column;
        padding: 16px;
        width: 100%;
    }
    
}