.card {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 430px;
    object-fit: fit-content;
    background-color: var(--color-black);
    border-radius: 5px;
    border: 2px solid;
}

.image {
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    flex-grow: 1;
    border-top: 2px solid;
}

.button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 440px) {
    .card {
        height: 250px;
        width: 300px;
    }
    .image {
        height: 200px;
    }
    .options {
        height: 50px;
    }
    .button {
        font-size: 0.8rem;
    }
    
}