.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark-blue);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid var(--color-light-blue);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.title {
    font-size: 3rem;
    margin-bottom: 16px;
    color: var(--color-blue);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.close img {
    width: 30px;
    height: 30px;
}
