.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  
  .form-group label {
    font-size: 1.2rem;
    color: var(--color-white);
  }
  
  .input-modal {
    background-color: transparent;
    width: 100%;
    color: var(--color-gray);
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid var(--color-blue);
  }
  .input-modal:focus {
    outline: none;
    border: 3px solid var(--color-light-blue);
  }
  .input-nuevo {
    background-color: transparent;
    width: 100%;
    color: var(--color-gray);
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--color-dark-gray);
  }
    .input-nuevo:focus {
        outline: none;
        border-width: 3px;
    }