:root {
  --font: "Source Sans 3", serif;
  --color-blue: #2271D1;
  --color-dark-blue: #03122F;
  --color-light-blue: #6BD1FF;
  --color-black: #000;
  --color-dark-gray: #262626;
  --color-white: #ffffff;
  --color-gray: #A5A5A5;
  --color-error: #E53935;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: var(--font);
  background-color: var(--color-dark-gray);
}
/* img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
} */