.videoGroup{
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list {
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding: 16px;
    gap: 16px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-blue) var(--color-dark-gray);
}
.list li {
    list-style: none;
}
