.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    align-items: center;
    width: 100%;
}
.error {
    margin: 0 auto;
    font-size: 12em;
    color: var(--color-blue);
}
.text_error {
    margin: 0 auto;
    height: 2em;
    font-size: 2em;
    color: var(--color-white);
}

